<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body data-lift-content-id="main">
  <div id="main" data-lift="surround?with=default;at=content" ng-controller="TodoController">
    <h1>Chat Messages</h1>
    <p>
      All input fields below sends chat messages in here.
			<!-- the behavior of the div -->
      <div class="lift:comet?type=Chat"> 
        <span name="sendMessage"></span>
        <ul>
          <li>A message</li>
          <li class="clearable">Another message</li>
          <li class="clearable">A third message</li>
        </ul>
      </div>

      <hr>

      <h1>Comet Send Test (warmup)</h1>
      <h2>Setup/Description</h2>
      <p>
        You will need two computers. Other to run Lift server and client for the server. Laptop 2 connects to the Lift server, sends messages and closes the lid.
      </p>
      <h2>Test</h2>
      <ol>
        <li>Laptop 2 sends a message "Hi all!" => All clients connected to the Lift server shows the chat message</li>
        <li>Laptop 2 closes laptop lid</li>
        <li>Laptop 2 opens laptop lid after 4 minutes</li>
        <li>Laptop 2 sends new message "delayed"</li>
      </ol>
      <h2>Result</h2>
      <ul>
        <li>Other clients connected to Lift server shows "delayed" message immediately</li>
        <li>Laptop 2 shows sent "delayed" message in about 2 minutes</li>
      </ul>

      <div>
        <input type="text" ng-model="msg">
        <a ng-click="sendMessage()" class="pure-button pure-button-primary">sendMessage</a>
      </div>
   </p>
 </div>
</body>
</html>